:root  {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

.address {
    font-style: normal;
}

.list {
  list-style: none;  
}

.list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-link:hover,
.list-link:focus {
    color:#404bbf;
}

.contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact:hover,
.contact:focus {
    color: #404bbf;
}

.class-dop {
    text-decoration: none;
}

.butts {
    list-style: none;
}
.butts-punct {
    color: #4D5AE5;
    background-color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.butts-punct:hover,
.butts-punct:focus {
    color: white;
    background-color: #404BBF;
}

.card {
    list-style: none;
}

.card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.card-type {    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio {
    color: #F4F4FD;
}

.studio-up {
    color: #2E2F42;
}

.footer {
    background-color: #2E2F42;
}

.textstudio {
    color: #F4F4FD;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: top;
    font-weight: 400;
}