:root  {
    font-family: "Roboto", sans-serif;
    --text-color: #2E2F42;
    --butt-color-hover: #404bbf;
}

body {
    background-color: #FFFFFF;
    color:#434455;
    font-family: "Roboto", sans-serif;
}

.list {
    list-style: none; 
}

.sectionmain1 {
    background-color: var(--text-color);
}

.sectionmain1-h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;
}
.sectionmain1-but {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
}

.sectionmain1-but:hover, 
.sectionmain1-but:focus {
    background-color: var(--butt-color-hover);
}

.sectionmain2-h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.sectionmain2-p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sectionmain3-h2,
.sectionmain4-h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
}

 .sectionmain4-h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
 }

 .sectionmain4 {
    background-color: #F4F4FD;
}

.sectionmain4-li {
    background-color: #FFFFFF;
}

 .sectionmain4-p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
    color: #434455;
 }

.address {
    font-style: normal;
}

.list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.list-link.class-dop,
.contact.class-dop,
.logo.class-dop,
.card-name.class-dop,
.card-type.class-dop {
    text-decoration: none;
}

.list-link:hover,
.list-link:focus {
    color: var(--butt-color-hover);
}

.contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact:hover,
.contact:focus {
    color: #404bbf;
}

.butts-punkt {
    color: #4D5AE5;
    background-color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.butts-punkt:hover,
.butts-punkt:focus {
    color: white;
    background-color: #404BBF;
}

.card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.card-type {    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio {
    color: #F4F4FD;
}

.studio-up {
    color: var(--text-color);
}

.footer {
    background-color: var(--text-color);
}

.textstudio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    text-decoration: top;
}